h1{
	color:#FF6B51;
	font-size: 20px;
	background-color: #000000;
	margin: 0 0 0 0;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width:250px;
	text-align: center;
	line-height: 50px;
	border-top-right-radius: 15px;
	user-select: none;
}
#menubar{
	background-color: #363636;
	margin: 0 0 0 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	user-select: none;
}
#top{
	line-height: inherit;
	color: #FFFFFF;
	position: absolute;
	left: 300px;
}
#top:hover{
	cursor: pointer;
	color: #FFCA18;
}
#latest{
	color: #FFFFFF;
	position: absolute;
	left: 500px;	
}
#latest:hover{
	cursor: pointer;
	color: #FFCA18;
}
#about{
	color: #FFFFFF;
	position: absolute;
	left: 650px;	
}
#about:hover{
	cursor: pointer;
	color: #FFCA18;
}
#search{
	position: absolute;
	right: 50px;
	height: 20px;
	width: 200px;
	top: 15px;
	border: none;
}
#search_button{
	font-size: 10px;
	position: absolute;
	right: 0px;
	height: 20px;
	width: 50px;
	top: 15px;
	border: none;
}