h1{
	color:#FF6B51;
	font-size: 20px;
	background-color: #000000;
	margin: 0 0 0 0;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width:250px;
	text-align: center;
	line-height: 50px;
	border-top-right-radius: 15px;
	user-select: none;
}
#menubar{
	background-color: #363636;
	margin: 0 0 0 0;
	position: absolute;
	top: 0px;
	left: 235px;
	right: 0px;
	height: 50px;
	line-height: 50px;
	user-select: none;
}
#menu{
	color: #FFFFFF;
	margin-left: 100px;
	display: inline;
}
#menu:hover{
	cursor: pointer;
	color: #FFCA61;
}
#toolbar{
	background-color: #000000;
	position: absolute;
	bottom: 0px;
	height: 30px;
	width: 250px;
	margin: auto;
	left: 0;
	right: 0;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}
#green_tool_button{
	border-radius: 50%;
	background-color: #00FC00;
	width: 18px;
	height: 18px;
	margin: auto;
	position: inherit;
	top: 5px;
	left: 5px;
}
#green_tool_button:hover{
	cursor: pointer;
}
#red_tool_button{
	border-radius: 50%;
	background-color: #FFCA18;
	width: 18px;
	height: 18px;
	margin: auto;
	position: inherit;
	top: 5px;
	right: 5px;
}
#red_tool_button:hover{
	cursor: pointer;
}